<% include ../partials/header %>

<h1><%= site.name%></h1>

<img src="<%=site.imageUrl%>" alt="Picture" width=200 height=200>

<a href="/sites">See all drop off sites</a>
<% include ../partials/footer %>