<% include ../partials/header %>

    <h2>Santa Savor</h2>
    <div class= "span4">
    	<p>Welcome to the Santa Savor where we strive to provide every child with the joy of opening a gift on Chirstmas Day.</p>
    </div>
    <div class= "row">
    	</div class= "span2">
    		<a href="/signup">Signup</a>
    	</div>
    	</div class= "span2">
    		<a href="/login">Login</a>
    	</div>
    </div>

<% include ../partials/footer %>